.container {
  display: grid;
  grid-template-columns: 25% 75%; /* Set initial column widths */
}

.sidebarContainer {
  padding-left: 0px;
}

@media (max-width: 850px) {
    .container {
      grid-template-columns: 1fr; /* Switch to a single column layout */
    }
  }

